<h2 >STRATERS</h2>
<ul class="menu">
  <li *ngFor="let men of menu"
    [class.selected]="men === selectedMenu"
    (click)="onSelect(men)">
    <span class="badge">{{men.id}}</span> {{men.name}} <span class="badge">{{men.price}}</span>
  </li>
</ul>

<h2>MAIN COURSE</h2>
<ul class="main">
  <li *ngFor="let mai of main"
    [class.selected]="mai === selectedMenu"
    (click)="onSelect(mai)">
    <span class="badge">{{mai.id}}</span> {{mai.name}} <span class="badge">{{mai.price}}</span>
  </li>
</ul>

<h2>DESERTS</h2>
<ul class="deserts">
  <li *ngFor="let desert of deserts"
    [class.selected]="desert === selectedMenu"
    (click)="onSelect(desert)">
    <span class="badge">{{desert.id}}</span> {{desert.name}} <span class="badge">{{desert.price}}</span>
  </li>
</ul>

<h2>TODAY"S SPECIAL</h2>
<ul class="daily">
  <li *ngFor="let dail of daily"
    [class.selected]="dail === selectedMenu"
    (click)="onSelect(dail)">
    <span class="badge">{{dail.id}}</span> {{dail.name}} <span class="badge">{{dail.price}}</span>
  </li>
</ul>

<h2>MONTHLY SPECIAL </h2>
<ul class="month">
  <li *ngFor="let mont of month"
    [class.selected]="mont === selectedMenu"
    (click)="onSelect(mont)">
    <span class="badge">{{mont.id}}</span> {{mont.name}} <span class="badge">{{mont.price}}</span>
  </li>
</ul>

<div *ngIf="selectedMenu">

  <h2>{{selectedMenu.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedMenu.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMenu.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>total:
      <input [(ngModel)]="selectedMenu.price" placeholder="price">
    </label>
  </div>
</div>
