<html>
<body>
<h2 align='center'>STRATERS</h2>
  <table class="menu" *ngFor="let men of menu" align="center">
    <tr><td>{{men.name}}  </td><td>--</td><td> {{men.price}}</td></tr>
  </table>
<h2 align='center'>MAIN COURSE</h2>
  <table class="main" *ngFor="let mai of main" align="center">
    <tr><td>{{mai.name}}  </td><td>--</td><td> {{mai.price}}</td></tr>
  </table>
<h2 align='center'>DESERTS</h2>
  <table align="center" class="deserts" *ngFor="let desert of deserts">
    <tr><td>{{desert.name}}  </td><td>--</td><td> {{desert.price}}</td></tr>
  </table>
<h2 align='center'>TODAY'S SPECIALS</h2>
  <table align="center" class="daily" *ngFor="let dail of daily">
    <tr><td>{{dail.name}}  </td><td>--</td><td> {{dail.price}}</td></tr>
  </table>
<h2 align='center'>MONTHY SPECIALS</h2>
  <table align="center" class="month" *ngFor="let mont of month">
    <tr><td>{{mont.name}}  </td><td>--</td><td> {{mont.price}}</td></tr>
  </table>
 </body> </html>